.team__title{
    color: #221f1f;
    font-size: 49px;
    font-weight: bold;
  }
  .team__content {
    
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .team__item{
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
  }
  .team__avatar{
    position: relative;
  }
  .team__avatar-title{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(75, 115, 181, 0.6);
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    width: 160px;
    height: 160px;
    padding-top: 70px;
    display: none;
    border-radius: 50%;
    margin-left: 45px;
  }
  .team__item:hover .team__avatar-title{
    display: block;
  }
  .team__desc-name {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
  }
  .team__avatar-picture{
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  .team__desc-career{
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    color: #4b73b5;
  }
  .team__desc-text {
    font-weight: 300;
    margin: 5px 0;
  }


